<!DOCTYPE html>
<html>
<head>
<title>Mario's Pizza</title>
<link rel=stylesheet href="main.css">
</head>
<header>
    <h1>Mario's Pizza</h1>
    <nav class="topnav">
        <ul class="navlist">
            <li><a href="search.html">Search</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li><a href="foods.html">Menu</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="gridcontainer">
        <div class="topcontainer" id="searchtop">
          <h2>Search Form</h2>
          <form method="get" action="{{ url_for('search') }}">
            <label for="search_query">Search:</label>
            <input type="text" name="search_query" id="search_query" required><br><br>
            <label for="search_type">Search in:</label>
            <select name="search_type" id="search_type">
              <option value="customer">Customers</option>
              <option value="order">Orders</option>
            </select><br><br>
            <hr>
           <input type="submit" value="Search">
           <br><br>
          </form>
    <br>
    {% if search_results %}
    <h3>Search Results:</h3>
    {% if search_type == 'customer' %}
    <table>
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Order Details</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in search_results %}
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td><a href="{{ url_for('get_customer_orders', id=customer.id) }}">View Orders</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% elif search_type == 'order' %}
      
    <p>Order Details</p>
    <h3>Order #{{ search_results.order1.id }}</h3>
    <p>Order Time: {{search_results.order1.order_time}}</p>
    <p>Customer: {{ search_results.order1.customer.name }}</p>
  
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item in search_results.order_items %}
          <tr>
            <td>{{ item.food.name }}</td>
            <td>{{ item.food.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% endif %}
  {% endif %}
        </div>
        <div class="middlecontainer1">
            <a href="/index.html">
                <div class="types1" id="home">
                    <p>Home</p>
                </div>
            </a>
            <a href="/foods.html">
                <div class="types1" id="menu">
                    <p>Menu</p>
                </div>
            </a>
            <a href="/customers.html">
                <div class="types1" id="customers">
                    <p>Customers</p>
                </div>
            </a>
            <a href="/search.html">
                <div class="types1" id="search">
                    <p>Search</p>
                </div>
            </a>
        </div>
        <div class="middlecontainer2">
            <a href="/new_order.html">
                <div class="types2" id="new_order">
                    <p>Create<br>Order</p>
                </div>
            </a>
            <a href="/customer_orders.html">
                <div class="types2" id="customer_orders">
                    <p>Customer<br>Orders</p>
                </div>
            </a>
            <a href="/new_customer.html">
                <div class="types2" id="new_customer">
                    <p>Add<br>Customer</p>
                </div>
            </a>
            <a href="/new_food.html">
                <div class="types2" id="new_food">
                    <p>Add<br>Food Item</p>
                </div>
        </div>
        <div class="bottomcontainer">
        </div>
    </div>
</body>

<footer>
    <div class="footerone">
        <h3>Navigation</h3>
        <p><a href="#home">Home</a></p>
        <p><a href="#menu">Blog</a></p>
        <p><a href="#order">Store</a></p>
        <p><a href="#account">Account</a></p>
    </div>
    <div class="footertwo">
        <h3>Resources</h3>
        <p><a href="#specials">Specials</a></p>
        <p><a href="#discounts">Discounts</a></p>
        <p><a href="#catalog">Catalog</a></p>
        <p><a href="#giftcards">Gift Cards</a></p>
        <p><a href="#subscriptions">Subscriptions</a></p>       
        <p><a href="installation">Installation & Services</a></p>
        <p><a href="#install">Installation Services</a></p>
    </div>
    <div class="footerthree">
        <h3>About Us</h3>
        <p><a href="#careers">Careers</a></p>
        <p><a href="#corporate">Corporate Information</a></p>
        <p><a href="#newsroom">Digital Newsroom</a></p>
        <p><a href="#suppliers">Suppliers & Providers</a></p>
        <p><a href="#government">Government Customers</a></p>
        <p><a href="#edo">Eco Initiatives</a></p>
        
    </div>
</footer>
</html>