{% extends 'base.html' %}
{% block content %}

        <div class="topcontainer" id="customerstop">
          <h2>Customers</h2>
          <table style="width:50%" align="center">
            <thead>
              <tr>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th >Order History</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in customers %}
                <tr>
                  <td>{{ customer.name }}</td>
                  <td>{{ customer.email }}</td>
                  <td>{{ customer.phone }}</td>
                  <td><a href="{{ url_for('get_customer_orders', id=customer.id) }}">View Orders</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% endblock %}