{% extends 'base.html' %}
{% block content %}

        <div class="topcontainer" id="menutop">
            <h2>Menu</h2>
            <div class="row">
                <div class="col">
                  <h3>Appetizer</h3>
                  
                    {% for food_item in appetizers %}
                    <p>
                            {{ food_item.name }} - ${{ "{:.2f}".format(food_item.price) }}<br/>
                    </p>
                        {% endfor %}
                  
                </div>
                <div class="col">
                  <h3>Entree</h3>
                  {% for food_item in entrees %}
                    <p>
                            {{ food_item.name }} - ${{ "{:.2f}".format(food_item.price) }}<br/>
                    </p>
                        {% endfor %}
                </div>
                <div class="col">
                  <h3>Dessert</h3>
                  {% for food_item in desserts %}
                    <p>
                            {{ food_item.name }} - ${{ "{:.2f}".format(food_item.price) }}<br/>
                    </p>
                        {% endfor %}
                </div>
                <div class="col">
                  <h3>Drinks</h3>
                  {% for food_item in drinks %}
                    <p>
                            {{ food_item.name }} - ${{ "{:.2f}".format(food_item.price) }}<br/>
                    </p>
                        {% endfor %}
                </div>
              </div>
        </div>
       
        
        {% endblock %}
        