{% extends 'base.html' %}
{% block content %}
  <div class="topcontainer" id="searchtop">
    <h2>Search Records</h2>
    <form method="get" action="{{ url_for('search') }}">
      <label for="search_query">Search:</label>
      <input type="text" name="search_query" id="search_query" required><br><br>
      <label for="search_type">Search By:</label>
      <select name="search_type" id="search_type">
        <option value="customer">Customers</option>
        <option value="order">Orders</option>
      </select><br><br>
      <hr>
      <input type="submit" value="Search">
      <br><br>
    </form>
<br>

{% if search_results %}
<h3>Search Results:</h3>
{% if search_type == 'customer' %}
<table style="width:50%" align="center">
<thead>
  <tr>
    <th>Customer Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Order Details</th>
  </tr>
</thead>
<tbody>
  {% for customer in search_results %}
  <tr>
    <td>{{ customer.name }}</td>
    <td>{{ customer.email }}</td>
    <td>{{ customer.phone }}</td>
    <td><a href="{{ url_for('get_customer_orders', id=customer.id) }}">View Orders</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% elif search_type == 'order' %}

<p>Order Details</p>
<h3>Order #{{ search_results.order1.id }}</h3>
<p>Order Time: {{search_results.order1.order_time}}</p>
<p>Customer: {{ search_results.order1.customer.name }}</p>

<table style="width:50%" align="center">
<thead>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
</thead>
<tbody>
  {% for item in search_results.order_items %}
    <tr>
      <td>{{ item.food.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>${{  "{:.2f}".format(item.food.price) }}</td>
      <td>${{  "{:.2f}".format(item.total_price) }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>

{% endif %}
{% endif %}
  </div>
{% endblock %}